.slicknav_menu
{
	display: none;
}

@media screen and (max-width: 992px){
	
	.top-slider
	{
		margin-top: -112px;
		background-color: #34495e;
	}

	.header
	{
		margin-top: -112px;
		background-color: #34495e;
	}

	